defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s 
  timeout http-request 10s

global
  maxconn 100

frontend http_front
  bind *:80
  default_backend webservers

backend webservers
  balance roundrobin

  option httpchk GET /
  server webserver1 webserver1:80 check
  server webserver2 webserver2:80 check
